 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
 
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("travel.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    margin: 0;
}

.header {
    background-color: #4caf4fa2;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


.nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.nav a:hover {
    text-decoration: underline;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #0a4f0d;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0a4f0d;
}

.logo {
    display: flex;
    align-items: center;
}
.logo h1{
    font-family: 'Sail', cursive;
}
.description {
    background-color: rgba(255, 255, 255, 0.225);
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 5px;
  
}
.description h2 {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    color: #0a4f0d;
}
.description p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
    text-shadow: 1px 1px 2px #0a4f0d;
}
.description button {
    margin-top: 20px;
    background-color: #0a4f0d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}
.social-media {
    position: fixed;
    margin-top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.team{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.team-item{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.23);
}
.team-item p{
    margin: 10px 0;
    font-size: 0.7em;
    line-height: 0.2em;
}
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .logo {
        margin-bottom: 10px;
    }
    .nav {
        margin-top: 10px;
    }
    .nav a {
        display: block;
        margin: 5px 0;
    }
}
@media (max-width: 400px) {
    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }
    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width: 400px) {
    .description {
        width: 100%;
        margin: 10px;
    }
}
@media (max-width: 400px) {
    .social-media {
        top: 10px;
        right: 10px;
    }
}
@media (max-width: 400px) {
    .team {
        flex-direction: column;
        align-items: center;
    }

    .team-item {
        width: 80%;
        margin-bottom: 20px;
    }
}
